<h3>Web Calculator Application</h3>
<body><h4><br><br>
    <br><br>
    <div>
        <div><p>Happy to See you Again :)</p>
            <p>Login Details:</p>
            <p>Please Enter your Username and Password</p>
            <br>
            <div type="Username">
              <input Input placeholder="Username or Phone Number"></div><br>
              <br><input Input type="password" placeholder="Enter your Password"><br>
        </div><br><br><nav>
          <button> <!--<a class="button" routerLink="/login">Submit</a>-->
          <a routerLink="Options" class="nav-link" routerLinkActive="active">Submit</a></button></nav>
</div>
<br><br><br>
<h6></h6><nav>
  <button> <a class="nav-link" routerLinkActive="active">Forgot Password?</a></button></nav>
</h4>
<div class="fixed-bottom">
  <h6>Terms & Conditions Applied</h6>
</div>
</body>