<body><div class="center">
    <p>Select the Operation to Move further</p><br>
    <!--<a class="button" (click)="Addition()">Addition</a>-->
    <!--<a class="button" (click)="Subtraction()">subtraction</a>-->
    <!--<a class="button" (click)="Multiplication()">Multiplication</a>-->
    <!--<a class="button" (click)="Division()">Division</a>-->
<a class="button" routerLink="Addition"  routerLinkActive="active">Addition</a>---
<a class="button" routerLink="Subtraction" routerLinkActive="active">Subtraction</a>---
<a class="button" routerLink="Multiplication" routerLinkActive="active">Multiplication</a>---
<a class="button" routerLink="Division" routerLinkActive="active">Division</a>
</div>
<h5><nav><button class="login">
    <a routerLink="/login"> logout </a>
</button></nav></h5></body>
